<script src='@routes.Assets.versioned("public/lib/jsonforms/dist/jsonforms.js")'></script>
<script src='@routes.Assets.versioned("public/lib/jsonforms/dist/jsonforms-material.js")'></script>
<script src='@routes.Assets.versioned("javascripts/index.controller.js")'></script>
<link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'/>
<body ng-app="my-app">
<h1><strong>JAX 2017 JSON Schema Demo</strong></h1>
<div class="jsf">
    <div ng-controller="DemoController as vm">
        <label>
            Data
        </label>
        <pre>{{vm.data}}</pre>
        <div ng-if="vm.resolved">
            <jsonforms schema="vm.schema" data="vm.data"/>
        </div>
        <md-button type="button" class="md-primary md-raised" ng-click="vm.submit(vm.data)">
            Submit
        </md-button>
        <span ng-class="vm.isError ? 'error' : 'success'">
            {{vm.msg}}
        </span>
    </div>
</div>
</body>

